<%= form_with(model: post, local: true) do |form| %>
  <%= render 'shared/form_errors', record: post %>

  <div class="field form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :rationale %>
    <%= form.text_area :rationale, class: 'form-control' %>
  </div>

  <% if policy(post).change_status? %>
    <div class="mb-3">
      <div class="form-check form-check-inline">
        <%= form.radio_button :status, :submitted, class: 'form-check-input' %>
        <%= form.label :status_submitted, 'Submitted', class: 'form-check-label' %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button :status, :approved, class: 'form-check-input' %>
        <%= form.label :status_approved, 'Approved', class: 'form-check-label' %>
      </div>

      <div class="form-check form-check-inline">
        <%= form.radio_button :status, :rejected, class: 'form-check-input' %>
        <%= form.label :status_rejected, 'Rejected', class: 'form-check-label' %>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
