<%= form_with(model: post, local: true) do |form| %>
  <div class="field">
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div class="field">
    <%= form.label :rationale %>
    <%= form.text_area :rationale %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
