<tr>
  <th scope="row"><%= post.id %></th>

  <td>
    <%= icon 'far', 'clock', class: 'text-secondary' %>
    <%= post.overtime_request %>
  </td>

  <td>
    <%= icon 'far', 'calendar', class: 'text-secondary' %>
    <%= post.date %>
  </td>

  <td>
    <%= icon 'far', 'question-circle', class: 'text-secondary' %>
    <%= truncate post.rationale %>
  </td>

  <td>
    <%= status_badge post %>
  </td>

  <td>
    <%= icon 'far', 'user', class: 'text-secondary' %>
    <%= post.user.full_name %>
  </td>

  <td class="text-right">
    <div class="btn-group">
      <%= link_to post, class: 'btn btn-outline-success btn-sm' do %>
        <%= icon 'far', 'eye' %>
        Show
      <% end %>

      <%= link_to edit_post_path(post), class: ['btn btn-outline-primary btn-sm', ('disabled' unless policy(post).edit?)] do %>
        <%= icon 'far', 'edit' %>
        Edit
      <% end %>

      <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn btn-outline-danger btn-sm', ('disabled' unless policy(post).destroy?)] do %>
        <%= icon 'far', 'trash-alt' %>
        Delete
      <% end %>
    </div>
  </td>
</tr>
