<div class="row mb-4">
  <div class="col">
    <h2 class="mb-0">Post #<%= @post.id %></h2>
  </div>

  <div class="col text-right">
    <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
  </div>
</div>

<dl>
  <dt>Date</dt>
  <dd><%= @post.date %></dd>

  <dt>Rationale</dt>
  <dd><%= @post.rationale %></dd>

  <dt>Status</dt>
  <dd><%= @post.status.titleize %></dd>
</dl>
